body {
	margin: 10px;
	color: #515151;
	background-color: #fff;
	font-family: Century Gothic, Avant Garde, Avant Garde Gothic, Sans-Serif;
	font-size: 11pt;
}

#wrapper {
	width: 90%;
	min-width: 970px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #064B4C;
}

a img {
	border: 0;
}

a:link {
	color: #064B4C;
	text-decoration: underline;
}

a:visited {
	color: #2F6465;
	text-decoration: underline;
}

a:hover {
	color: #0B8D8F;
	text-decoration: underline;
}

a:active {
	color: #0B8D8F;
	text-decoration: underline;
}

h1, h2, h3, h4 {
	font-family: Georgia, Times, Serif;
}

.subtitle {
    color:#666666;
    margin-top: -20px;
    font-style: italic;
    font-size: 12px;
}
#header {
	height: 150px;
}

#branding {
	width: 460px;
	float: left;
}

#header img {
	margin-left: 20px;
	margin-top: 10px;
	float: left;
}

#searchBox {
	float: right;
	margin: 10px;
	margin-top: 80px;
}

.searchInput {
	border: 1px solid #555;
	height: 16px;
	padding: 2px;
	padding-left: 20px;
	margin: 0;
	background-image: url('/static/images/search.png');
	background-repeat: no-repeat;
	background-position: 2px 2px;
}


#byline {
	clear: both;
	color: #064B4C;
	font-size: 9pt;
	width: 435px;
	float: left;
	margin-left: 60px;
	margin-top: -27px;
}

#menu {
	height: 40px;
	background-color: #064B4C;
	font-size: 10pt;
	font-weight: bold;
}

#menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#menu li {
	float: left;
	margin: 10px;
}

#menu a:link {
	color: #fff;
	text-decoration: none;
}

#menu a:visited {
	color: #fff;
	text-decoration: none;
}

#menu a:hover {
	color: #fff;
	text-decoration: none;
}

#menu a:active {
	color: #fff;
	text-decoration: none;
}

#breadcrumbs {
	margin: 2px 10px 2px 10px;
	font-size: 8pt;
}

#content {
	clear: both;
    min-height: 350px;
}

#facts {
	width: 58%;
	float: left;
	margin: 5px;
}

#map {
	width: 38%;
	float: left;
	margin: 5px;
	border: 1px dotted #064B4C;
	height: 500px;
}
#map iframe {
	width: 100%;
	height: 100%;
	border: 0px;
}
#footer {
	margin-top: 10px;
	border-top: 1px solid #064B4C;
	clear: both;
	font-size: 10pt;
	padding: 10px;
}

#blurb {
	margin: 20px;
	padding: 10px;
	background-color: #8CC9CA;
}

.infoTable {
	margin: 10px;
	width: 90%;
	border: 1px solid #8CC9CA;
}

.infoTable th {
	text-align: left;
	padding: 5px;
	background-color: #8CC9CA;
}

.infoTable td {
	padding: 5px;
}

.infoTable .key {
	text-align: right;
	border-right: 1px dotted #8CC9CA;
}

#footerMenu {
	clear: both;
}

#footerMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}

#footerMenu li {
	float: left;
	margin: 8px;
}

#copyright {
	clear: both;
	padding: 5px;
} 
tr { height: 50px;}
tr.odd {background-color: #eee; }
tr.even { }
tr.header { color: #9C3236;}
.disclaimer {
	color:#666666;
	font-size: 12px;
	margin-left: 10px;
	line-height: 14px;
}
#party_list {
    margin: 10px;
}
#party_list label {
    float: left;
    width: 100px;
}
div .searchresult a {
    float: left;
    width: 200px;
}

.party-logo {
    width: 20px;
    height: 20px;
}