body {
    padding: 0px;
    margin: 0px;
}
#header {
    margin: 0px;
    padding: 10px;
    border-bottom: gray solid 1px ;
}

#header em {
    text-decoration: normal;
    font-style: normal;
    color: #A7B9CD;
}

#header h1 a {
    text-decoration:none;
    color: inherit;
}

#content {
    padding: 10px 20px;
}

#footer {
    clear: both;
    margin-top: 10px;
    border-top: 1px solid gray;
    text-align: center;
}

#map {
    float: right;
    width: 300px;
    height: 500px;
    border: none;
}

tr.odd {background-color: #eee; }
tr.even { }
tr.header { color: #9C3236;}

td {padding: 0px 10px;}

td a {color: green;}
td.year{font-weight:bold;}
td.rule {border-top: 1px solid #ccc; }

img.party-symbol {border: 0px; width:20px;}
.line {line-height:16px; padding:7px 5px 2px 0pt; text-align:left center;}
#heading{font-size:26px;}
#heading a{color: #376837;}
#heading p.subtitle{margin-top:0px;padding-top:0px; font-family: verdana; font-style: italic; font-size:12px;}
p.section-label{line-height:24px;text-align:left;font-size:20px;}
p.table-label{line-height:20px;font-size:20px;color:blue;}

.search {
    float: right;
    padding: 20px;
}