$def with (d)

$var title: $d.name

<div id="facts">
<h2>$d.name</h2>

<div id="photo"></div>

$if d.election_history:
	<div id="election_history" class="section">
	<h4>Election History</h4>
	<table class="infoTable" cellspacing=0>
	    <tr class="header">
	        <th>year</th>
	        <th>party</th>
	        <th>constituency</th>
	        <th>% votes polled</th>
	        <th>won</th>
	    </tr>
	$for e in d.election_history:
	    <tr class="$loop.parity">
	        <td>$e.year</td>
	        <td>
    			$#<a href="/$e.party.id"><img src="/static/images/${e.party.id}.jpg"/></a>
    			<a href="/$e.party.id"><img src="/static/images/bjp.gif"/></a>
    			<a href="/$e.party.id">$e.party.name</a>	           
	        </td>
	        <td><a href="/$e.constituency.id">$e.constituency.name</a></td>
	        <td>$e.percentage_votes_polled</td>
	        <td>$(["No", "Yes"][e.won])</td>
	    </tr>
	</table>
    <div class="disclaimer">Election data from <a href="http://eci.nic.in">http://eci.nic.in</a></div>
    </div>
</div>

<div id="map">
	<iframe src="$maproot/kmap.html">
	</iframe>
    <div class="disclaimer">Map provided by <a href="http://www.gslab.com/">GS Lab</a></div>
</div>
