$def with (d)

$var title: $d.name

<iframe id="map" src="$maproot/kmap.html?w=350&h=500&s=$d.state.id.lower()&c=$d.id.split('/')[-1]">
</iframe>

<div id="heading">
$d.name, <a href="/$d.state.id.lower()">$d.state.name</a>
<p class='subtitle'> Parliamentary Constituency</p>
</div>

<div class="section" id="profile">
	<ul>
		$if d.stats:
			<li>No.of Voters: $d.stats.numvoters</li>
			<li>Male-Female ratio: $d.stats.ratio_of_male_female_voters</li>
			<li>Literacy(%): $d.stats.percentage_literacy</li>
		</ul>
</div>

$def prettify(id):
    $id.lower().replace('_', ' ').title()

$if d.upcoming_elections:
	<h4>Upcoming Elections, $d.upcoming_elections.date</h4>
	<p>List of candidates</p>
	<table>
	<tr><th>Party</th><th>Candidate</th></tr>
	$for c in d.upcoming_elections.candidates:
		<tr>
		<td>
		<a href="/$c.party.id"><img src="/static/images/${c.party.id}.jpg"/></a>
		<a href="/$c.party.id">$c.party.shortname</a>
		</td>
		<td><a href="/candidate/$c.id">$c.name</a></td>
		</tr>
	</table>
	
$if d.election_history:
	<p class='section-label'>Election History</p>
	<table>
	    <tr class="header"><th width='40px'>&nbsp;</th><th>Party</th><th>Candidate</th><th>Votes %</th></tr>
	$for election in d.election_history:
		     <tr><td colspan='4' class='year'>$election.year</td></tr>
		$for c in election.candidates:
			<tr class="$loop.parity">
			<td width='40px' style='background-color:white;'>&nbsp;</td>
			<td class='line'>
			$#<a href="/$c.party.id"><img class='party-symbol' src="/static/images/${c.party.id}.jpg"/></a>
			<a href="/$c.party.id"><img class='party-symbol' src="/static/images/bjp.gif"/></a> <!--for now -->
			<a href="/$c.party.id">$c.party.name</a>
			</td>
			<td><a href="/$c.id">$prettify(c.name)</a></td>
			<td>$c.percentage_votes_polled</td>
			</tr>
		<tr><td colspan="4" class="rule" >&nbsp;</td></tr>
    </table>

<div>
    Developers: Get page in <a href="${d.id}.json">JSON</a>.
</div>