$def with (d)

$var title: $d.name

<iframe id="map" src="$maproot/map">
</iframe>

<div id="heading">
<h2>$d.name Parliamentary Constituency</h2>
</div>

<div class="section" id="profile">
	<ul>
		<li>State: <a href="/$d.state.id">$d.state.name</a></li>
		$if d.stats:
			<li>No.of Voters: $d.stats.numvoters</li>
			<li>Male-Female ratio: $d.stats.ratio_of_male_female_voters</li>
			<li>Literacy(%): $d.stats.percentage_literacy</li>
		</ul>
</div>

$if d.upcoming_elections:
	<div class="section" id="upcoming_elections">
	<h4>Upcoming Elections, $d.upcoming_elections.date</h4>
	<p>List of candidates</p>
	<table>
	<th>Party</th><th>Candidate</th>
	$for c in d.upcoming_elections.candidates:
		<tr>
		<td>
		<a href="/party/$c.party.id"><img src="/static/images/${c.party.id}.jpg"/></a>
		<a href="/party/$c.party.id">$c.party.shortname</a>
		</td>
		<td><a href="/candidate/$c.id">$c.name</a></td>
		</tr>
	</table>
	</div>

$if d.election_history:
	<div id="election_history" class="section">
	<h4>Election History</h4>
	$for election in d.election_history:
		<h5>Year: $election.year </h5>
		<table>
		<tr>
		<th>Party</th>
		<th>Candidate</th>
		<th>% votes</th>
		</tr>
		$for c in election.candidates:
			<tr>
			<td>
			<a href="/party/$c.party.id"><img src="/static/images/${c.party.id}.jpg"/></a>
			<a href="/party/$c.party.id">$c.party.name</a>
			</td>
			<td><a href="/candidate/$c.id">$c.id</a></td>
			<td>$c.percentage_votes</td>
			</tr>
		</table>
		<hr/>
	</div>

<div>
    Developers: Get page in <a href="${d.id}.json">JSON</a>.
</div>