$def with (page)
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />    
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>$page.get("title", "Welcome") - Electionspot</title>
</head>
<body>
	<div id="header">
        <div class="search">
            <form action="/search" method="GET">
                <input name="q"/>
                <input type="submit" value="Search"/>
            </form>
        </div>
        <h1><a href="/">Electionspot</a></h1>
        <br clear="both"/>
	</div>
	<div id="content">
    $:page
	</div>
	<div id="footer">
        <a href="/about">about</a>
	</div>
</body>
</html>
