$def with (d)

<iframe id="map" src="$maproot/map">
</iframe>

<div id="heading">
<h2>$d.name Party</h2>
</div>

<table>
    <tr>
        <th>Year</th>
        <th>Contested</th>
        <th>Won</th>
    </tr>
    $for p in d.performance:
        <tr>
            <td>$p.year</td>
            <td>$p.contested</td>
            <td>$p.won</td>
        </tr>
</table>

$code:
    ymax = max(p.contested for p in d.performance)
    if ymax > 400:
        ystep = 100
    elif ymax > 200:
        ystep = 50
    elif ymax > 100:
        ystep = 25
    else:
        ystep = 10
        
    ymax = ystep * (1 + ymax/ystep)
    
    chart = GroupedVerticalBarChart(600, 200, y_range=(0, ymax))
    chart.set_bar_width(10)
    chart.add_data([p.contested for p in d.performance])
    chart.add_data([p.won for p in d.performance])
    chart.set_legend(["Contested", "Won"])
    chart.set_colours(['00ff00', 'ff0000'])
    chart.set_axis_labels("x", [p.year for p in d.performance])
    chart.set_axis_labels("y", range(0, ymax+1, ystep))

<img src="$chart.get_url()"/>