$def with (d)

$var title: $d.name

$code:
    ymax = max(p.contested for p in d.performance)
    if ymax > 400:
        ystep = 100
    elif ymax > 200:
        ystep = 50
    elif ymax > 100:
        ystep = 25
    elif ymax > 50:
        ystep = 10
    elif ymax > 20:
        ystep = 5
    else:
        ystep = 2
        
    ymax = ystep * (1 + ymax/ystep)
    
    chart = GroupedVerticalBarChart(350, 200, y_range=(0, ymax))
    chart.set_bar_width(10)
    chart.add_data([p.contested for p in d.performance][::-1])
    chart.add_data([p.won for p in d.performance][::-1])
    chart.set_legend(["Contested", "Won"])
    chart.set_colours(['f67b00', '00ff00'])
    chart.set_axis_labels("x", [p.year for p in d.performance][::-1])
    chart.set_axis_labels("y", range(0, ymax+1, ystep))

<div id="map">
  <iframe src="$maproot/kmap.html?w=350&h=400"></iframe>
  <div class="disclaimer">
    Map provided by <a href="http://www.gslab.com/">GS Lab</a>
  </div>
</div>

<div id="facts">
<h2>$d.name</h2>
<div class="subtitle">Political Party</div>

<table class="infoTable" cellspacing=0>
    <tr class="header">
        <th>Year</th>
        <th>Contested</th>
        <th>Won</th>
        <th></th>
    </tr>
    $for p in d.performance:
        <tr class="$loop.parity">
            <td class="result">$p.year</td>
            <td class="result">$p.contested</td>
            <td class="result">$p.won</td>
            $if loop.first:
                <td rowspan="$len(d.performance)">
                <img src="$chart.get_url()"/>
                </td>
        </tr>
</table>
<div class="disclaimer">Election data from <a href="http://eci.nic.in">http://eci.nic.in</a></div>

</div>
