$def with (d)

$var title: $d.name

$def piechart(year_data):
    $code:
        chart = PieChart(250, 100)
        chart.add_data([data.won for data in year_data])
        chart.set_pie_labels([data.party.shortname for data in year_data])
    <img src="$chart.get_url()"/>

<div id="map">
    <iframe src="$maproot/kmap.html?w=350&h=400&s=$d.id.lower()"></iframe>
    <div class="disclaimer">Map provided by <a href="http://www.gslab.com/">GS Lab</a></div>
    <h3>Constituencies in $d.name</h3>
    $for c in list_constituencies(d.id):
        $if not loop.first: |
        <a href="/$c.id">$c.name</a>
    <div>
        <h3>States/Union Teritories</h3>
        $for s in list_states():
            $if not loop.first: |
            $if s.id == d.id: <b>$s.name</b>
            $else: <a href="/$s.id">$s.name</a>
    </div>
</div>

<div id="facts">
<h2>$d.name</h2>
<table class="infoTable" cellspacing=0>
    <tr class="header">
        <th>Year</th>
        <th>Party</th>
        <th>Contested</th>
        <th>Won</th>
        <th>PI-Chart</th>
    </tr>
$for year in sorted(d.performance, reverse=True):
    $ year_data = sorted(d.performance[year], key=lambda row: row.won, reverse=True)
    $for data in year_data:
        <tr class="$loop.parent.parity">
        $if loop.first:
            <td class="result" rowspan="$len(year_data)">$year</td>
        <td class="result"><a href="$data.party.id">$data.party.name</a></td>
        <td class="result">$data.contested</td>
        <td class="result">$data.won</td>
        $if loop.first:
            <td class="result" rowspan="$len(year_data)">$:piechart(year_data)</td>
        </tr>
</table>
<div class="disclaimer">Election data from <a href="http://eci.nic.in">http://eci.nic.in</a></div>
</div>

